header .background-image {
    background-image: url("../images/Header.png");
    background-position: center;
}

.bg-maroon {
    background-color: #591124;
}

.bg-lightblue {
    background-color: #D0E2F2;
}

.bg-pink {
    background-color: #A6034F !important;
}

.text-stroke-maroon {
    -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #591124;
}

.btn-primary {
    background-color: #591124;
    border-color:  #A6034F;
}

.btn-primary:hover {
    background-color: #A6034F;
    border-color:  #A6034F;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #A6034F;
    border-color:  #A6034F;
}

h2 {
    color: #591124;
}

a {
    color:#591124
}
.bg-gray {
    background-color: #efefef;
}
h5 {
    color:#591124
}